<!DOCTYPE html>
<html>
<head>
    <title>BMI Calculator</title>
</head>

<body>
    <div class ="container">
    <h1>BMI Calculator</h1>
    <form method="post" action="/item/add">

    <p>Height (in cm) </p>

    <input type="number" name="height">

    <p>Weight (in kg) </p>

    <input type="number" name="weight"> 
    <input type="submit" value="Add">
    </form>
    <div id="result"></div>

    </div>



</body>
</html>
